page-menupage {
.background {
		//background-image: url('/assets/facebunker.jpg');
	background-color: #fff
    }
}
.MB{
    width: 220px;
    height: 160px;
    margin: auto;
    margin-block-start: 100px;
    

}
.PF{
    width: 220px;
    height: 160px;
    margin: auto;
     margin-block-start: 30px;
}
